/* Register.css */
.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
/* Login.css */
.login-container {
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
}
/* EmployeesList.css */
.employees-list-container {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
min-height: 100vh;
}
/* EmployeeDetails.css */
.employee-details-container {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
min-height: 100vh;
}
.back{
background-color: rgb(191, 191, 240);
}
.formback{
background-color: rgb(255, 255, 255);
}
/* ::placeholder{
text-align: center;
} */
